body{

margin:0;
height:100vh;

background:linear-gradient(
180deg,
#1c0a1a,
#3a0f2f
);

font-family:Arial;

display:flex;
flex-direction:column;
align-items:center;

overflow:hidden;

color:white;

}

h1{

margin-top:40px;
color:#ff9ed6;

}

.sub{

margin-bottom:20px;

}

#jardin{

position:relative;

width:100%;
height:70vh;

}

.flor{

position:absolute;

font-size:40px;

cursor:pointer;

animation:flotar 4s infinite ease-in-out;

transition:transform 0.3s;

}

.flor:active{

transform:scale(1.6);

}

.petalo{

position:absolute;

font-size:18px;

pointer-events:none;

animation:caer 4s linear forwards;

}

@keyframes flotar{

0%{transform:translateY(0)}

50%{transform:translateY(-15px)}

100%{transform:translateY(0)}

}

@keyframes caer{

0%{

opacity:1;
transform:translateY(0);

}

100%{

opacity:0;
transform:translateY(200px) rotate(180deg);

}

}
